.card-with-aspect-ratio {
  aspect-ratio: 4/2;
}

.card .card-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: top left;
  filter: blur(0) brightness(100%);
  transition: filter 0.3s ease-in;
}

.card .content {
  display: none;
}

.card:hover .card-image {
  filter: blur(3px) brightness(60%);
}

.card .content {
  position: relative;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.card:hover .content {
  display: block;
  opacity: 1;
}

.card a {
  color: #7FDEFF;
}

.card a:hover {
  color: #00A8E0;
}

.card-text {
  color: #DABFFF;
}

.content-background {
  background-color: #2C2A4A;
}

.custom-navbar {
  background-color: #DABFFF;
}

.navbar-brand {
  color: #2C2A4A;
}

.nav-item a {
  color: #4F518C; /* Default color */
}

.nav-item a:hover {
  color: #4F518C; /* Color when hovered */
}

.nav-item a.active {
  color: #4F518C; /* Color when active */
}



.container {
  color: #7FDEFF;
}

.footer-background {
  background-color: #4F518C;
}

.footer-link {
  color: #7FDEFF;
}

.footer-link:hover {
  color: #00A8E0;
}

.profile-icon {
  font-size: 90px;
  /* Add any other desired styles for the profile icon */
}